<table class="table is-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Word Count</th>
      <th>Snippet</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of pages;">
      <td><app-page-list-title [page]="page"></app-page-list-title></td>
      <td><app-page-list-wordcount [page]="page"></app-page-list-wordcount> </td>
      <td><app-page-list-description [page]="page"></app-page-list-description> </td>
    </tr>
  </tbody>
</table>