<div class="container">
  <h1 class="title" style="margin: 20px;">Wiki App</h1>
  <app-search-bar (onsubmit)="searchedTerm($event)" ></app-search-bar>
  <app-page-list [pages]="pages" *ngIf="pages.length" ></app-page-list>
</div>